/* 
    Created on : 31 oct. 2017, 20:31:21
    Author     : Loïc
*/

#generalGrid{
    -fx-background-color: #061f30;
}
#root{
    -fx-background-color: #061f30;
}
.scroll-pane {
    -fx-base: transparent;
    -fx-background-color: transparent;
}

/* About the table View */
.table-view {
    -fx-base: transparent;
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
}

.table-view .column-header {
    -fx-border-color: #0ce8f0;
    -fx-background-color: transparent;
}

.table-view .cell-left.column-header{
    -fx-border-radius: 10px 0px 0px 0px;
}

.table-view .cell-right.column-header{
    -fx-border-radius: 0px 10px 0px 0px;
}

.table-view .cell-center.column-header{
    -fx-border-radius: 10px 10px 0px 0px;
}

.table-view{
    -fx-padding: 20px;
}

.table-column {
    -fx-border-color: #0ce8f0;
}

.table-row-cell:selected {
   -fx-background-color: steelblue; 
   -fx-text-background-color: red;
}

.table-view .column-header .label {
    -fx-font-size: 15pt;
    -fx-font: 20pt "Space Age";
    -fx-text-fill: #ef8d00;
    -fx-alignment: center;
}

.table-row-cell {
    -fx-background-color: transparent;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.center{
    -fx-alignment: center;
}

/* Used to personalize the button */
.button{
    -fx-font-family: "Space Age"; 
    -fx-text-fill: #3DE6AF; 
    /*svg path*/
    -fx-shape:"M 0 0 L 1 -0.5 L 5 -0.5 L 6 0 L 5 0.5 L 1 0.5 z";
    -fx-border-color:#ffffff;
    -fx-background-color: #061f30;
    -fx-opacity: 1.0;
    
}

/* Used to personalize all TextFields */
.text-field{
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
    -fx-background-color: #0D2E45;
    -fx-border-color: #ffffff;
    -fx-font-family: "Arial";
    -fx-text-fill: #ffffff;
}

.text-field:focused{
    -fx-border-color: #0ce8f0;
}

/* The frame around the buttons in the main menu */
#frameButton{
    -fx-background-color: rgba(255, 255, 255, 0.08);
    -fx-background-radius: 15px;
    -fx-border-color: #ffffff;
    -fx-border-radius: 15px;
}

/* Used for the title of each page (ex : 'Create User') */
#pageTitleLabel{
    -fx-font-family: "Space Age";
    -fx-text-fill: #0ce8f0;
    -fx-font-size: 18pt; 
}
/* Used for smaller titles (ex : 'all modes' in Player Profile) */
#sectionTitleLabel{
    -fx-font-family: "Space Age";
    -fx-text-fill: #0ce8f0;
    -fx-font-size: 15pt;
}

/* Used in forms (username, description, etc.) */
#formLabel{
    -fx-font-family: "Space Age";
    -fx-text-fill: #ef8d00;
    -fx-font-size: 13pt;
}
/* Used for the username in the up right corner */
#usernameLabel{
    -fx-font-family: "Space Age";
    -fx-text-fill: #0ce8f0;
    -fx-font-size: 14pt; 
}

/* Used for all other labels (popup messages, etc.) */
.label{
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-font-size: 11pt;
}
.tooltip{
    -fx-font-family: "Arial"; 
}
/* About the line */
.lineDesign{
    -fx-stroke: #0ce8f0;
    -fx-stroke-width: 2px;
}

/* Alert customization */
    .dialog-pane > .button-bar > .container {
      -fx-background-color:#061f30;
    }
    .dialog-pane > .content.label {
       -fx-padding: 0.5em 0.5em 0.5em 0.5em;
       -fx-background-color: #061f30;
       -fx-text-fill:white;
       -fx-font-size:15.0px;
    }

    .dialog-pane:header .header-panel {
      -fx-background-color: #061f30;
    }

    .dialog-pane:header .header-panel .label{
      -fx-background-color: #061f30;
      -fx-background-radius:10px;
      -fx-text-fill:white;
      -fx-font-size:15.0px;
    }

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.radio-button{
    -fx-font-family: "Space Age";
    -fx-text-fill: white;
    -fx-focus-color: #0ce8f0;
}
.radio-button .radio{
    /*-fx-background-color: #0D2E45;*/
    -fx-mark-color: #ef8d00;
    -fx-focus-color: #0ce8f0;
}
.check-box {
    -fx-font-family: "Space Age";
    -fx-focus-color: #0ce8f0;
    -fx-text-fill: white;
}

.check-box .box{
    /*-fx-background-color: #0D2E45;*/
    -fx-focus-color: #0ce8f0;
}

.check-box:selected .mark{
    -fx-background-color: #ef8d00;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-text-fill: #ef8d00;
}

/* border on mousover*/
.list-cell:filled:hover {
    -fx-text-fill: #ef8d00;
}

.list-view {
    -fx-background-color: rgba(255, 255, 255, 0.08);
    -fx-background-radius: 15px;
    -fx-border-color: #ffffff;
    -fx-border-radius: 15px;
}

.list-cell {
    -fx-background-color: #0D2E45;;
    -fx-background-radius: 15px;
    -fx-text-fill: white;
}

/*Change the border color in case of error on textfield*/
.borderError{
    -fx-border-color: #ef8d00;
}